{% extends "categories.html" %}
{% block deleteItem %}

<h1>A you shure you want to delete {{item.name}}?</h1>

<form action="{{url_for('deleteItem', category_name = category.name, item_name = item.name)}}" method="post">

<input type='submit' value='Delete'>
<br>
<br>
<a href= '{{url_for('showItems', category_name = category.name )}}'>Cancel</a>

</form>
{% endblock %}
{% block scripts %}
<script src="../../../../static/assets/js/skel.min.js"></script>
<script src="../../../../static/assets/js/main.js"></script>
{% endblock %}
