{% extends "categories.html" %}

{% if ifLogin is defined %}
{% if ifLogin == "google" %}
{% set ifLogin = "google" %}
{% endif %}
{% if ifLogin == "facebook" %}
{% set ifLogin = "facebook" %}
{% endif %}
{% endif %}

{% block items %}

<a href="/categories/{{ categoryToShow.name }}/newItem/" class="button special">Add Item</a>
<br><br>
<a href="/categories/{{ categoryToShow.name }}/delete/" class="button special">Delete category</a>
<br><br>
{% if amountOfItems > 1 %}
<h3>{{ categoryToShow.name }} items ({{ amountOfItems }} items)</h3>
{% else %}
<h3>{{ categoryToShow.name }} items ({{ amountOfItems }} item)</h3>
{% endif %}
{% for item in items %}
<p><a href="/categories/{{ categoryToShow.name }}/{{ item.name }}/">{{ item.name }}</a></p>
{% endfor %}
{% endblock %}
{% block scripts %}
<script src="../../static/assets/js/skel.min.js"></script>
<script src="../../static/assets/js/main.js"></script>
{% endblock %}